Django==5.0.6
djangorestframework==3.15.2
djangorestframework-simplejwt==5.3.1
channels==4.1.0
channels-redis==4.2.0
daphne==4.1.2
psycopg2-binary==2.9.9
django-cors-headers==4.4.0
cryptography==42.0.8
argon2-cffi==23.1.0
redis==5.0.7
celery==5.4.0
django-filter==24.2
Pillow==10.4.0
python-dotenv==1.0.1
websockets==12.0
msgpack==1.0.8
nats-py==2.6.0
strawberry-graphql==0.241.0
docker==7.1.0
requests==2.32.3
openai==1.58.1
langchain-core==0.3.12
langgraph==0.2.20
zstandard==0.23.0
